.wrapper{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    padding:17px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.05);
}

.imgs{
    width:192px;
    height:105px;
    border-radius:3px;
    object-fit: cover;
    flex: 1 0 auto;
}


.articles{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.brief{
    width: 420px;
    height: 50px;
    font-size:15px;
    line-height: 25px;
    margin-top:10px;
}

/* 编号样式 */
.index{
    flex: 1 0 auto;
    font-size:18px;
    color:#999999;
}


h3{
    width: 420px;
}

.bottom{
    display: flex;
    flex-flow: row nowrap;
    align-items: center
}

.bottom span, .bottom button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top:10px;
    margin-right:10px;
    color:#8590A6;
    font-size:14px;
}

.bottom button{
    cursor:pointer;
}
