.wrapper {
		height: 226px;
		display: flex;
		flex-direction: column;
		background-color:white;
		padding: 10px 20px;
		box-sizing: border-box;
		border-bottom: 1px solid #f1f3f7;
	}

.content{
	display: flex;
}

/* 图片 */
.imgs {
		width:192px;
		height:105px;
		border-radius:3px;
		object-fit: cover;
		flex: 0 0 auto
	}

/* 文本段落样式 */
.p {
	height: 120px;
	width:460px;
	flex: 1 0 auto;
	font-size:15px;
	line-height: 25px;
	word-break:break-word;
	box-sizing: border-box;
	padding-left:20px;
	}

/* 标题样式 */
.title {
		height: 35px;
		width:100%;
	}

	/* 底部样式 */
.bottom {
		background-color:white;
		height: 55px;
		display:flex;
		align-items: center;
	}

	/* 赞成按钮 */
.approvalBtn {
		width: 99px;
		height: 33px;
		background-color: #e5f2ff;
		color: #0084ff;
		border-radius:4px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	/*反对按钮 */
.opposeBtn {
		width: 36px;
		height: 33px;
		background-color: #e5f2ff;
		color: #0084ff;
		border-radius:4px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 5px;
		cursor: pointer;
	}
/* 评论按钮 */
.commentBtn{
	width: 90px;
	height: 33px;
	background-color:white;
	color: #8590a6;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}

/* 分享按钮 */
.shareBtn {
	width: 64px;
	height: 33px;
	background-color:white;
	color: #8590a6;
	border: none;
	cursor: pointer;
}

/* 阅读全文 */
.readMore{
	color:#175199;
	margin-left: 4px;
	word-break: keep-all;
	cursor:pointer
}