
    .wrapper {
        width: 100%;
        height: 99px;
        display: flex;
        box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
        background: white
    }

    .child{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    a span{
        font-size: 15px;
        margin-top: 8px;
        color: #444444;
    }