.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    padding:17px;
    border-bottom: 1px solid rgba(26, 26, 26, 0.05); 
}

/* 头部 */
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
}

/* 头部关注按钮 */
.header button{
    background-color:#0084FF;
    height:32px;;
    width:70px;
    padding:0 14px;
    border-radius:3px;
    color:#ffffff;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 用户头像 */
.avatar{
    cursor:pointer;
	width: 40px;
	height: 40px;
	border: none;
	background: none;
    outline:none;
    border-radius:3px;
    object-fit: cover;
}

/* 图片 */
.img{
    width:192px;
    height:105px;
    border-radius:3px;
    object-fit: cover;
    flex: 0 0 auto;
}

.main{
    display: flex;
}

/* 用户信息 */
.userInfo{
    flex:1 0 auto;
    padding-left: 10px;
}

/* 标题 */
.title{
    width:100%;
    padding: 10px 0;
}

/* 文本样式 */
.texts{
    margin-left: 20px;
    font-size:15px;
    overflow: hidden;
    line-height: 24px;
}

/* 阅读全文 */
.readMore{
    color:#175199;
    margin-left: 4px;
    word-break: keep-all;
    cursor:pointer
}