/*头部*/
.header {
	height: 52px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
	background-color: white;
	z-index:50;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Wrapper {
	width: 1000px;
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	/* border: 1px solid red */
}


.nav {
	display: flex;
	/* border: 1px solid blue; */
	margin-left: 27px;
	margin-right: 18px;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	
}

.nav a:nth-child(1) {
	color: #8590a6;
	size: 14px;
	padding: 0 15px 0 0;
}

.nav a:nth-child(2) {
	color: #8590a6;
	size: 14px;
	padding: 0 15px;
}

.nav a:nth-child(3) {
	color: #8590a6;
	size: 14px;
	padding: 0 15px;
}


