.wrapper{
    width: 360px;
    height:442px;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 20px rgba(26, 26, 26, 0.1);
    top:57px;
    left: calc(50% + 177px)
}

.head{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    z-index: 5;
    background-color: white;
}

.head li{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head li:nth-child(1)::after{
    position: absolute;
    left: 120px;
    top: 14px;
    width: 1px;
    height: 20px;
    margin: auto;
    background: #EBEBEB;
    content: '';
}

.head li:nth-child(2)::after{
    position: absolute;
    left: 224px;
    top: 14px;
    width: 1px;
    height: 20px;
    margin: auto;
    background: #EBEBEB;
    content: '';
}

.topic li{
    border-bottom: 1px solid #ebebeb;
    width: 314px;
    padding: 20px 0;
    margin-left:14px;
    font-size:14px;
}

.topic{
    overflow-y: scroll;
    height: 350px;
}

.bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:38px;
    border-top: 1px solid #ebebeb;
}

.configureBtn{
    padding-left:14px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #8590a6;
    cursor:pointer;
}

.checkAllBtn{
    padding-right:14px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #8590a6;
    cursor: pointer;
}

.arrowButton{
    width: 34px;
    height: 34px;
    /* border:1px solid red; */
    display: block;
    position: absolute;
    left: 50%;
    top: -10px;
    transform:translateX(-50%);
    z-index: -5;
}

.arrowButton::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #EBEBEB;
    background: #FFFFFF;
    transform: translate(-50%,-50%) rotate(45deg);
}


.follow {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #8590a6
}

.likes{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color: #8590a6
}