/* 外层盒子 */
.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	position:relative;
}

/* 搜索框 */
.searchBar{
	height: 35px;
	background-color: #f6f6f6;
	border: 1px solid #ececec;
	border-radius: 4px;
	font-size: 15px;
	z-index: 10;
	box-sizing: border-box;
	outline: none;
}

/* 提问按钮 */
.askButton {
	width: 58px;
	height: 34px;
	background-color: #0084ff;
	border-radius: 4px;
	border: 1px solid transparent;
	color: white;
	cursor:pointer;
	position: absolute;
	left: 315px;
}
