*{
	margin:0;
	padding:0;
}

body {
	background:#f6f6f6;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}




/*侧边栏*/

.side-bar {
	/* border:1px solid red; */
	position: fixed;
	top: 62px;
	left: calc(50% + 205px);
	width: 300px;
	/* background-color: white; */
	display: flex;
	flex-direction: column;
}

.side-bar .side-links a{
	color:#8590a6
}