
    .list{
        height: 205px;
        display:flex;
        flex-direction:column;
        margin-top:10px;
        padding: 5px;
    }

    .list li{
        flex:1 0 auto;
        font-size: 13px;
        color: #8590a6
    }

.wrapper {
	width: 295px;
	display: flex;
    flex-direction: column;
    position:fixed;
    top: 60px;
    left: 798px;
}

.wrapper a{
	color:#8590a6
}